**/__pycache__/

training/train_multi_paradigm.py
experiments/*
mlruns/*
models/*
!models/il_classifier.pth
!models/rl_agent.pth
scripts/analyze_results.py
main.py
build/*
.venv/*
src/Rubik2x2_RL.egg-info/*